<div class="wrap">
  <button class="button" (click)="resetFilters()">Todas</button>
  <button class="button" (click)="sortLeng()">Ordem Alfabetica</button>
  <button class="button" (click)="filterOO()">Orientadas a objetos</button>
  <button class="button" (click)="filterFrameworks()">Frameworks</button>
</div>
<div class="cards">
  <div class="card" *ngFor="let lengs of leng">
    <h2 class="card-title">{{ lengs.title }}</h2>
    <img src="{{ lengs.image }}" alt="" />
    <p class="card-desc">
      {{ lengs.description }}
    </p>
  </div>
</div>
